/*-----------------------------------------------------------------------------------
	PSCL at Keimyung
	About: PSCL
	Author: Chulhyung Park
	Version: 1.0
	Built with Blocs
-----------------------------------------------------------------------------------*/
body{
	margin:0;
	padding:0;
    background:#FFFFFF;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.page-container{overflow: hidden;} /* Prevents unwanted scroll space when scroll FX used. */
a,button{transition: background .3s ease-in-out;outline: none!important;} /* Prevent blue selection glow on Chrome and Safari */
a:hover{text-decoration: none; cursor:pointer;}


/* Preloader */

.page-preloader{position: fixed;top: 0;bottom: 0;width: 100%;z-index:100000;background:#FFFFFF url("img/pageload-spinner.gif") no-repeat center center;animation-name: preloader-fade;animation-delay: 2s;animation-duration: 0.5s;animation-fill-mode: both;}
.preloader-complete{animation-delay:0.1s;}
@keyframes preloader-fade {0% {opacity: 1;visibility: visible;}100% {opacity: 0;visibility: hidden;}}

/* = Web Fonts
-------------------------------------------------------------- */

@font-face {
	font-family:'ProximaNova-Bold';
	src: url('./fonts/ProximaNova-Bold/proximanova-bold-webfont.ttf');
	src: url('./fonts/ProximaNova-Bold/proximanova-bold-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'ConneqtRegular';
	src: url('./fonts/ConneqtRegular/ConneqtRegular.woff');
	src: url('./fonts/ConneqtRegular/ConneqtRegular.woff') format('woff'),
	url('./fonts/ConneqtRegular/ConneqtRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'ProximaNova-Light';
	src: url('./fonts/ProximaNova-Light/proximanova-light-webfont.ttf');
	src: url('./fonts/ProximaNova-Light/proximanova-light-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'ProximaNova-Regular';
	src: url('./fonts/ProximaNova-Regular/proximanova-regular-webfont.ttf');
	src: url('./fonts/ProximaNova-Regular/proximanova-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* = Blocs
-------------------------------------------------------------- */

.bloc{
	width:100%;
	clear:both;
	background: 50% 50% no-repeat;
	padding:0 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position:relative;
	display:flex;
}
.bloc .container{
	padding-left:0;
	padding-right:0;
}


/* Sizes */

.bloc-xxl{
	padding:200px 20px;
}
.bloc-lg{
	padding:100px 20px;
}
.bloc-md{
	padding:50px 20px;
}
.bloc-sm{
	padding:20px;
}

/* = Full Screen Blocs 
-------------------------------------------------------------- */

.bloc-fill-screen{
	min-height:100vh;
	display: flex;
	flex-direction: column;
	padding-top:20px;
	padding-bottom:20px;
}
.bloc-fill-screen > .container{
	align-self: flex-middle;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
}
.bloc-fill-screen > .container > .row{
	flex-grow: 1;
	align-self: center;
	width:100%;
}
.bloc-fill-screen .fill-bloc-top-edge, .bloc-fill-screen .fill-bloc-bottom-edge{
	flex-grow: 0;
}
.bloc-fill-screen .fill-bloc-top-edge{
	align-self: flex-start;
}
.bloc-fill-screen .fill-bloc-bottom-edge{
	align-self: flex-end;
}

/* = Full Width Blocs 
-------------------------------------------------------------- */

.full-width-bloc{
	padding-left:0;
	padding-right:0;
}
.full-width-bloc .row{
	margin-left:0;
	margin-right:0;
}
.full-width-bloc .container{
	width:100%;
	max-width:100%!important;
}
.full-width-bloc .carousel img{
	width:100%;
	height:auto;
}


/* Background Styles */

.bg-center,.bg-l-edge,.bg-r-edge,.bg-t-edge,.bg-b-edge,.bg-tl-edge,.bg-bl-edge,.bg-tr-edge,.bg-br-edge,.bg-repeat{
	-webkit-background-size: auto!important;
	-moz-background-size: auto!important;
	-o-background-size: auto!important;
	background-size: auto!important;
}
.bg-center{
	-webkit-background-size: auto;
}


/* Video Background Styles */

.video-bg-container, .bloc-video{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: -50%;
	overflow: hidden;
	transform: translateX(-50%);
	-webkit-transform:translateX(-50%);
}
.bloc-video, .video-bg-container iframe{
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	z-index: 0;
}


/* Background Textures */

.bloc-bg-texture::before{
	content:"";
	background-size: 2px 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
}
.texture-darken-strong::before{
	background: rgba(0,0,0,0.8);
}


/* Dark theme */

.d-bloc{
	color:rgba(255,255,255,.7);
}
.d-bloc button:hover{
	color:rgba(255,255,255,.9);
}
.d-bloc .icon-round,.d-bloc .icon-square,.d-bloc .icon-rounded,.d-bloc .icon-semi-rounded-a,.d-bloc .icon-semi-rounded-b{
	border-color:rgba(255,255,255,.9);
}
.d-bloc .divider-h span{
	border-color:rgba(255,255,255,.2);
}
.d-bloc .a-btn,.d-bloc .navbar a, .d-bloc a .icon-sm, .d-bloc a .icon-md, .d-bloc a .icon-lg, .d-bloc a .icon-xl, .d-bloc h1 a, .d-bloc h2 a, .d-bloc h3 a, .d-bloc h4 a, .d-bloc h5 a, .d-bloc h6 a, .d-bloc p a{
	color:rgba(255,255,255,.6);
}
.d-bloc .a-btn:hover,.d-bloc .navbar a:hover,.d-bloc a:hover .icon-sm, .d-bloc a:hover .icon-md, .d-bloc a:hover .icon-lg, .d-bloc a:hover .icon-xl, .d-bloc h1 a:hover, .d-bloc h2 a:hover, .d-bloc h3 a:hover, .d-bloc h4 a:hover, .d-bloc h5 a:hover, .d-bloc h6 a:hover, .d-bloc p a:hover{
	color:rgba(255,255,255,1);
}
.d-bloc .navbar-toggle .icon-bar{
	background:rgba(255,255,255,1);
}
.d-bloc .btn-wire,.d-bloc .btn-wire:hover{
	color:rgba(255,255,255,1);
	border-color:rgba(255,255,255,1);
}
.d-bloc .card{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover{
	color:rgba(0,0,0,.7);
}
.d-bloc .card icon{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover{
	color:rgba(0,0,0,1);
}
.d-bloc .card .btn-wire, .d-bloc .card .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}


/* Light theme */

.d-bloc .card,.l-bloc{
	color:rgba(0,0,0,.5);
}
.d-bloc .card button:hover,.l-bloc button:hover{
	color:rgba(0,0,0,.7);
}
.l-bloc .icon-round,.l-bloc .icon-square,.l-bloc .icon-rounded,.l-bloc .icon-semi-rounded-a,.l-bloc .icon-semi-rounded-b{
	border-color:rgba(0,0,0,.7);
}
.d-bloc .card .divider-h span,.l-bloc .divider-h span{
	border-color:rgba(0,0,0,.1);
}
.d-bloc .card .a-btn,.l-bloc .a-btn,.l-bloc .navbar a,.l-bloc a .icon-sm, .l-bloc a .icon-md, .l-bloc a .icon-lg, .l-bloc a .icon-xl, .l-bloc h1 a, .l-bloc h2 a, .l-bloc h3 a, .l-bloc h4 a, .l-bloc h5 a, .l-bloc h6 a, .l-bloc p a{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .a-btn:hover,.l-bloc .a-btn:hover,.l-bloc .navbar a:hover, .l-bloc a:hover .icon-sm, .l-bloc a:hover .icon-md, .l-bloc a:hover .icon-lg, .l-bloc a:hover .icon-xl, .l-bloc h1 a:hover, .l-bloc h2 a:hover, .l-bloc h3 a:hover, .l-bloc h4 a:hover, .l-bloc h5 a:hover, .l-bloc h6 a:hover, .l-bloc p a:hover{
	color:rgba(0,0,0,1);
}
.l-bloc .navbar-toggle .icon-bar{
	color:rgba(0,0,0,.6);
}
.d-bloc .card .btn-wire,.d-bloc .card .btn-wire:hover,.l-bloc .btn-wire,.l-bloc .btn-wire:hover{
	color:rgba(0,0,0,.7);
	border-color:rgba(0,0,0,.3);
}

/* Row Margin Offsets */

.voffset{
	margin-top:30px;
}
.voffset-md{
	margin-top:50px;
}
/* Dividers */

.b-divider{
	border-top:1px solid rgba(0,0,0,.1);
	border-bottom:1px solid rgba(0,0,0,.1);
}


/* = NavBar
-------------------------------------------------------------- */

/* = Sticky Nav
-------------------------------------------------------------- */

.sticky-nav.sticky{
	position:fixed;
	top:0;
	z-index:1000;
	box-shadow:0 1px 2px rgba(0,0,0,.3);
	 transition: all .2s ease-out;
}
/* Handle Multi Level Navigation */
.dropdown-menu .dropdown-menu{
	border:none}
@media (min-width:576px){
	
.navbar-expand-sm .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-sm .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:768px){
	.navbar-expand-md .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-md .dropdown-menu .submenu-left{
	right:100%;
	left:auto}}@media (min-width:992px){
	.navbar-expand-lg .dropdown-menu .dropdown-menu{
	border:1px solid rgba(0,0,0,.15);
	position:absolute;
	left:100%;
	top:-7px}.navbar-expand-lg .dropdown-menu .submenu-left{
	right:100%;
	left:auto}
}
/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-clear{
	margin:0;
}
.mg-sm{
	margin-top:10px;
	margin-bottom:5px;
}
.mg-md{
	margin-top:10px;
	margin-bottom:20px;
}
.mg-lg{
	margin-top:10px;
	margin-bottom:40px;
}
img.mg-sm,img.mg-md,img.mg-lg{
	margin-top: 0;
}
img.mg-sm{
	margin-bottom:10px;
}
img.mg-md{
	margin-bottom:30px;
}
img.mg-lg{
	margin-bottom:50px;
}

/* = Buttons
-------------------------------------------------------------- */

.btn-d,.btn-d:hover,.btn-d:focus{
	color:#FFF;
	background:rgba(0,0,0,.3);
}

/* Prevent ugly blue glow on chrome and safari */
button{
	outline: none!important;
}

.btn-sq{
	border-radius: 0px;
}
.btn-xl{
	padding: 16px 40px;
	font-size: 28px;
}
.a-block{
	width:100%;
	text-align:left;
	display: inline-block;
}
.text-center .a-block{
	text-align:center;
}

/* = Icons
-------------------------------------------------------------- */
.icon-md{
	font-size:30px!important;
}


/* = Text & Icon Styles
-------------------------------------------------------------- */
.blockquote{
	padding:0 20px;
	border-left:2px solid;
}
.blockquote.text-right{
	border-left:0;
	border-right:2px solid;
}


.card-sq, .card-sq .card-header, .card-sq .card-footer{
	border-radius:0;
}
.card-rd{
	border-radius:30px;
}
.card-rd .card-header{
	border-radius:29px 29px 0 0;
}
.card-rd .card-footer{
	border-radius:0 0 29px 29px;
}

/* = Dividers
-------------------------------------------------------------- */
.divider-h{
	padding:20px 0;
	width:100%;
	display:inline-block;
}
.divider-h span{
	display: block;
	border-top:1px solid transparent;
}
.divider-half{
	width: 50%;
	margin: 0 auto;
}
.dropdown-menu .divider-h,.dropdown-menu .divider-half{
	padding:0;
}

/* = Forms
-------------------------------------------------------------- */

.form-control{
	border-color:rgba(0,0,0,.1);
	box-shadow:none;
}

/* Scroll FX */
.scroll-fx-in-range{
	will-change: opacity;
}


/* ScrollToTop button */

.scrollToTop{
	width:36px;
	height:36px;
	padding:5px;
	position:fixed;
	bottom:20px;
	right:20px;
	opacity:0;
	z-index:999;
	transition: all .3s ease-in-out;
	pointer-events:none;
}
.showScrollTop{
	opacity: 1;
	pointer-events:all;
}
.scroll-to-top-btn-icon{
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
	fill-rule: evenodd;
	stroke-linecap:round;
}

/* = Custom Styling
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6,p,label,.btn,a{
	font-family:"ProximaNova-Bold";
	color:#3B3B3B!important;
}
.container{
	max-width:1140px;
}
.navbar-brand img{
	width:260px;
}
.row-style{
	width:100%;
}
.h1-style{
	font-family:"ConneqtRegular";
}
.h3-style{
	font-family:"ProximaNova-Light";
}
.html-widget-style{
	height:377px;
	width:91.04%;
}
.h2-style{
	font-size:30px;
}
.h2-bloc-2-style{
	font-size:20px;
}
.h2-address-style{
	font-size:20px;
}
.h2-02-2220-0453-style{
	font-size:20px;
	font-family:"ProximaNova-Light";
}
.p-style{
	font-size:16px;
	font-family:"ProximaNova-Regular";
}
.h3-about -style{
	font-family:Arvo;
}
.h3-heading-3-style{
	font-family:"ProximaNova-Regular";
	font-weight:900;
	font-size:20px;
}
.h1-who-we-are-style{
	font-size:39px;
	font-family:"ConneqtRegular";
	width:42.01%;
}
.p-bloc-1-style{
	font-family:"ProximaNova-Regular";
	width:100%;
	letter-spacing:px;
}
.h1-contact-us-style{
	font-size:35px;
}
.h3-about-style{
	font-family:"ProximaNova-Regular";
	font-size:20px;
}
.h3-7-style{
	font-family:"ProximaNova-Light";
	font-size:20px;
}
.h1-our-history-style{
	font-size:35px;
}
.p-5-style{
	font-family:"ProximaNova-Regular";
	font-size:16px;
	width:100%;
}
.img-style{
	width:116px;
}
.h3-19-style{
	font-size:16px;
	font-family:"ProximaNova-Regular";
}
.h3-phone-style{
	font-size:16px;
	color:#000000!important;
}
.h3-19-heading-3-style{
	font-size:16px;
}
.h3-22-style{
	font-size:16px;
	font-family:"ProximaNova-Regular";
}
.h3-20-style{
	font-size:16px;
}
.h3-23-style{
	font-size:16px;
	font-family:"ProximaNova-Regular";
}
.img-18-style{
	width:146px;
}
.p-bloc-18-style{
	font-family:"ProximaNova-Regular";
	font-size:13px;
}
.img-2-style{
	width:603px;
}
.h3-3-style{
	font-size:20px;
	font-family:"ProximaNova-Regular";
}
.p-bloc-2-style{
	font-family:"ProximaNova-Regular";
	width:91.34%;
}
.scrollToTop{
	background-color:transparent;
}
.h3-director-style{
	font-size:20px;
}
.h2-feature-title-style{
	font-size:30px;
	font-family:"ConneqtRegular";
}
.h2-3-style{
	font-size:30px;
}
.h3-bloc-7-style{
	font-size:20px;
}
.p-bloc-6-style{
	font-family:"ProximaNova-Regular";
}
.p-bloc-7-style{
	font-family:"ProximaNova-Regular";
}
.h2-daegong-jeong-style{
	font-size:30px;
}
.h3-bloc-8-style{
	font-size:20px;
}
.p-bloc-5-style{
	font-family:"ProximaNova-Regular";
}
.img-bloc-6-style{
	width:513px;
}
.img-bloc-8-style{
	width:600px;
}
.h3-8-style{
	font-size:20px;
}
.h2-yongbeom-kim-style{
	font-size:30px;
}
.p-38684-style{
	font-family:"ProximaNova-Regular";
}
.h3-bloc-9-style{
	font-size:20px;
}
.h2-daegon-jeong-style{
	font-size:30px;
}
.p-bloc-9-style{
	font-family:"ProximaNova-Regular";
}
.img-bloc-5-style{
	width:120px;
}
.navoff{
	color:#7C7C7C!important;
}
.navoff:hover{
	color:#00A6A1!important;
}
.mouse:hover{
	color:#00A6A1!important;
}
.navon{
	color:#4C4CFF!important;
}
.navon:hover{
	color:#4C4C4C!important;
}
.btn-text{
	color:#C22A7F!important;
}
.navhome{
	color:#000000!important;
	font-family:"ConneqtRegular";
}
.navhome:hover{
	color:#C3C3C3!important;
}
.h1-manbae-han-style{
	font-size:30px;
	font-family:"ConneqtRegular";
	color:#000000!important;
}
.h3-14-style{
	font-size:18px;
	font-family:"ProximaNova-Regular";
}
.p-allumni-style{
	font-family:"ProximaNova-Regular";
}
.p-14-style{
	font-family:"ProximaNova-Regular";
}
.p-10-style{
	font-family:"ProximaNova-Regular";
}
.p-15-style{
	font-family:"ProximaNova-Regular";
	width:100%;
}
.p-11-style{
	font-family:"ProximaNova-Regular";
}
.p-16-style{
	font-family:"ProximaNova-Regular";
}
.p-12-style{
	font-family:"ProximaNova-Regular";
}
.p-17-style{
	font-family:"ProximaNova-Regular";
}
.p-13-style{
	font-family:"ProximaNova-Regular";
}
.p-18-style{
	font-family:"ProximaNova-Regular";
}
.gradbutton{
	background-color:transparent;
	background:linear-gradient(38deg, #00A6A2, #244168);
	color:#FFFFFF!important;
	border-style:none;
	border-color:rgba(0,0,0,0.0)!important;
}
.p-19-style{
	font-family:"ProximaNova-Regular";
	font-size:16px;
}
.p-20-style{
	font-family:"ProximaNova-Regular";
	font-size:16px;
}
.p-21-style{
	font-family:"ProximaNova-Regular";
	font-size:16px;
}
.p-22-style{
	font-family:"ProximaNova-Regular";
	font-size:16px;
}
.p-23-style{
	font-family:"ProximaNova-Regular";
	font-size:16px;
}
.p-24-style{
	font-family:"ProximaNova-Regular";
	font-size:16px;
}
.h1-2019-style{
	font-size:30px;
	font-family:"ConneqtRegular";
	color:#000000!important;
}
.blocs-lb-container{
	background-position:left top;
	background-color:transparent;
}
.p-address-style{
	font-family:"ProximaNova-Regular";
}
.snap-scroll-pagination a {
	float:none;
	color:transparent!important;
}
.h4-style{
	font-family:"ProximaNova-Regular";
	font-size:17px;
}
.p-about1-style{
	font-size:25px;
	color:transparent!important;
}
.h2-about1-style{
	width:100%;
	font-size:36px;
	font-family:"ConneqtRegular";
}
.bigpadding{
	padding:5000px 5000px 5000px 5000px;
}
.h2-join-the-team-style{
	font-family:"ConneqtRegular";
	font-size:23px;
}
.h4-bloc-28-style{
	font-family:"ProximaNova-Regular";
	font-size:16px;
	width:100%;
}
.black{
	color:transparent!important;
	background-color:#000000;
}
.h1-bloc-7-style{
	font-family:"ConneqtRegular";
	font-size:20px;
}
.h1-bloc-8-style{
	font-family:"ConneqtRegular";
}
.h3-21-style{
	font-family:"ConneqtRegular";
}
.h3-18484-style{
	font-family:"ConneqtRegular";
}
.container-div-style{
	height:305px;
}
.p-1-style{
	font-family:"ProximaNova-Regular";
	color:#FEFFFE!important;
}
.p-68-style{
	font-family:"ProximaNova-Regular";
}
.h3-allumni-style{
	font-family:"ConneqtRegular";
}
.h1-7-style{
	font-family:"ConneqtRegular";
}
.button{
	font-family:"ConneqtRegular";
	color:#000000!important;
}
.img-manbae-style{
	width:400px;
}
.checklabel{
	font-family:"ProximaNova-Regular";
}
.bigbutton{
	font-family:"ConneqtRegular";
	font-size:20px;
	color:#FEFFFE!important;
}
.h3-bloc-31-style{
	font-family:"ConneqtRegular";
}
.subdrop{
	font-family:"ConneqtRegular";
	font-weight:100;
	border-style:_popUpItemAction:;
	color:#000000!important;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.researcharea{
	font-family:"ConneqtRegular";
	font-size:24px;
}
.john{
	opacity:100;
	width:0px;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}
.researchbutton{
	background-color:#000000;
	color:#FEFFFE!important;
	font-family:"ProximaNova-Regular";
	margin:5px 5px 5px 5px;
}
.btn-padding{
	padding-top:0px;
	padding-bottom:0px;
	font-size:17px;
}
.bloc-divider-t-fill{
	fill:#FFFFFF;
	height:70px;
}
.bloc-divider-b-fill{
	fill:#FFFFFF;
	height:100px;
}
.bottom_title{
	font-family:"ProximaNova-Regular";
	color:#FEFFFE!important;
	font-size:14px;
}
.footer-link{
	color:#FEFFFE!important;
	font-family:"ProximaNova-Bold";
	font-size:14px;
}
.footer-link:hover{
	font-family:"ProximaNova-Bold";
	font-size:14px;
	color:#A2A1A3!important;
}
.footer-title{
	font-family:"ConneqtRegular";
	color:#FEFFFE!important;
	font-size:20px;
}
.footer{
	font-family:"ConneqtRegular";
	color:#FEFFFE!important;
	font-size:10px;
	text-align:center;
}
.img-pscl-whi-style{
	width:221px;
}
.p-bloc-29-style{
	font-size:12px;
}
.p-65-style{
	font-size:12px;
}
.h4-bloc-29-style{
	font-size:13px;
}
.p-bloc-11-style{
	font-family:"ProximaNova-Regular";
}
.p-9-style{
	font-family:"ProximaNova-Regular";
}
.p-8-style{
	font-family:"ProximaNova-Regular";
}
.p-bloc-12-style{
	font-family:"ProximaNova-Regular";
}
.divider{
	border-style:_popUpItemAction:;
	border-color:#000000!important;
}
.bloc-divider-t-style{
	height:100px;
}
.h3-abstract-style{
	font-family:"ConneqtRegular";
	font-size:27px;
}
.h3-6-style{
	font-size:21px;
}
.margin{
	padding:10px 10px 10px 10px;
}
.button1{
	font-family:"ConneqtRegular";
	color:#000000!important;
	font-size:13px;
}
.btn-join-us-padding{
	padding-top:4px;
	padding-bottom:4px;
}

/* = Colour
-------------------------------------------------------------- */

/* Background colour styles */

.bgc-black{
	background-color:rgba(0,0,0,0.6);
}
.bgc-white{
	background-color:#FFFFFF;
}
.bgc-black-2{
	background-color:#000000;
}
.bgc-white-2{
	background-color:#FFFFFF;
}
.bgc-black-3{
	background-color:#000000;
}

/* Text colour styles */

.tc-white{
	color:#FFFFFF!important;
}
.tc-white-2{
	color:#FFFFFF!important;
}
.tc-black{
	color:#000000!important;
}

/* Button colour styles */

.btn-white{
	background:#FFFFFF;
	color:rgba(0,0,0,.5)!important;
}
.btn-white:hover{
	background:#cccccc!important;
	color:rgba(0,0,0,.5)!important;
}
.btn-black{
	background:#000000;
	color:#FFFFFF!important;
}
.btn-black:hover{
	background:#000000!important;
	color:#FFFFFF!important;
}

/* Link colour styles */

.ltc-black{
	color:#000000!important;
}
.ltc-black:hover{
	color:#000000!important;
}

/* Icon colour styles */

.icon-white{
	color:#FFFFFF!important;
	border-color:#FFFFFF!important;
}

/* Bloc image backgrounds */


/* = Custom Bric Data
-------------------------------------------------------------- */



/* = Bloc Padding Multi Breakpoint
-------------------------------------------------------------- */

@media (min-width: 576px) {
    .bloc-xxl-sm{padding:200px 20px;}
    .bloc-xl-sm{padding:150px 20px;}
    .bloc-lg-sm{padding:100px 20px;}
    .bloc-md-sm{padding:50px 20px;}
    .bloc-sm-sm{padding:20px;}
    .bloc-no-padding-sm{padding:0 20px;}
}
@media (min-width: 768px) {
    .bloc-xxl-md{padding:200px 20px;}
    .bloc-xl-md{padding:150px 20px;}
    .bloc-lg-md{padding:100px 20px;}
    .bloc-md-md{padding:50px 20px;}
    .bloc-sm-md{padding:20px 20px;}
    .bloc-no-padding-md{padding:0 20px;}
}
@media (min-width: 992px) {
    .bloc-xxl-lg{padding:200px 20px;}
    .bloc-xl-lg{padding:150px 20px;}
    .bloc-lg-lg{padding:100px 20px;}
    .bloc-md-lg{padding:50px 20px;}
    .bloc-sm-lg{padding:20px;}
    .bloc-no-padding-lg{padding:0 20px;}
}


/* = Mobile adjustments 
-------------------------------------------------------------- */
@media (max-width: 1024px)
{
    .bloc.full-width-bloc, .bloc-tile-2.full-width-bloc .container, .bloc-tile-3.full-width-bloc .container, .bloc-tile-4.full-width-bloc .container{
        padding-left: 0; 
        padding-right: 0;  
    }
}
@media (max-width: 991px)
{
    .container{width:100%;}
    .bloc{padding-left: constant(safe-area-inset-left);padding-right: constant(safe-area-inset-right);} /* iPhone X Notch Support*/
    .bloc-group, .bloc-group .bloc{display:block;width:100%;}
}
@media (max-width: 767px)
{
    .bloc-tile-2 .container, .bloc-tile-3 .container, .bloc-tile-4 .container{
        padding-left:0;padding-right:0;
    }
    .btn-dwn{
       display:none; 
    }
    .voffset{
        margin-top:5px;
    }
    .voffset-md{
        margin-top:20px;
    }
    .voffset-lg{
        margin-top:30px;
    }
    form{
        padding:5px;
    }
    .close-lightbox{
        display:inline-block;
    }
    .blocsapp-device-iphone5{
	   background-size: 216px 425px;
	   padding-top:60px;
	   width:216px;
	   height:425px;
    }
    .blocsapp-device-iphone5 img{
	   width: 180px;
	   height: 320px;
    }
}

@media (max-width: 991px){
	.margin-left:auto-margin-right:0{
	}
	.blocsapp-special-menu blocsnav{
		background-color:transparent;
	}
	.dropnav{
	}
	.dropnav:hover{
		float:right;
	}
	.bigpadding{
		padding:1000px 1000px 1000px 1000px;
	}
	.h4-style{
		width:42.17%;
	}
	.h1-style{
		width:100%;
	}
	
	/* MD Row Margin Offsets */
	.voffset-md{
		margin-top:30px;
	}
	
	/* MD Text Margin Offsets */
	.mg-lg-md{
		margin-top: 10px;
		margin-bottom:40px;
	}
	
}

@media (max-width: 767px){
	.text-right{
	}
	.text-left{
	}
	.text-center{
	}
	.h4-style{
		font-size:20px;
		width:48.13%;
	}
	
}

@media (max-width: 575px){
	.navbar-brand img{
		width:150px;
	}
	.h1-style{
		font-size:25px;
	}
	.h3-style{
		font-size:20px;
	}
	.footer-link{
		text-align:center;
	}
	.h4-style{
		font-size:14px;
		width:65.36%;
	}
	
}

